API_ID=21911467
API_HASH=2e37d8eb31651b4d5c3391f8778c63a9
BOT_TOKEN=8227295671:AAHgD3nkPF4J1V2GSSut1GT2pvPQ14hKM3w
LOG_GROUP_ID=-1003368938931
API_KEY=NxGBNexGenBotsda64ea
MONGO_DB_URI=mongodb+srv://music5ghhghhfh_db_user:music5ghhghhfh_db_user@cluster0.buqzcbx.mongodb.net/?appName=Cluster0
OWNER_ID=7538752811
STRING_SESSION=AQFOV6sArH9wmqlOGGvRC-SA1k9281ZPeLJ2popJNFpdCvLPzz5cLAc64vDGiS5qubL9GPkODYp0W2O1mghjOtQJpjXCJYYL2TYlMJxhSlRt5gBqqbdBkpY36-0-0vUyw6iq7exGCT84rz0rjWHl8c22wZHfqjg3PS23rzjSDtK3VzMto6AyyvohgloQLtZ-qeTekSNTGebxK6c-pv732fc6WZKVbPIxnE7izQhAVjrFsbdGPyJ3UFr6IZsRRQU1oARtAYVpFOBzcBWGw8LUveiHezsbMLe88YKMV9bXhcYr2sGysG3xic6frpKWt2LSnXiUwoshtBHke_3tdCFL3qYRjTQq1QAAAAHpk6iTAA
